@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/*  hero animation */
@keyframes float3D {
  0% {
    transform: rotateY(0deg) rotateX(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(4deg) rotateX(3deg) translateY(-12px);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg) translateY(0px);
  }
}

.hero-3d-float {
  animation: float3D 6s ease-in-out infinite;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-out;
}

.hero-wrapper:hover .hero-3d-float {
  transform: rotateY(18deg) rotateX(8deg) scale(1.05);
}
